<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <h1>Todo List</h1>

  <form action="/" method="post">
    <input type="text" name="todoItem" placeholder="Add a new todo">
    <button>Add todo</button>
  </form>
  <form action="/done" method="post">
    <ul>
      {{#todo}}
        <li>
          <input type="checkbox" name="done" value="{{.}}"> <label type="text">{{.}}</label>
        </li>
      {{/todo}}
    </ul>
    {{#if todo}}
      <button type="submit" name="done">Mark as complete</button>
    {{/if}}
  </form>

  {{#if done}}
    <h2>Completed Tasks</h3>
  <ul>
    {{#done}}
      <li>{{.}}</li>
    {{/done}}
  </ul>
  {{/if}}
</body>

</html>
